@* <div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">OfferteWeb</a>
    </div>
</div>
 *@<MudNavMenu>
    <MudNavLink Href="/home" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home">Welcome</MudNavLink>
    <MudNavLink Href="/" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.LocalOffer">Offerte</MudNavLink>
    @if (IsAdmin())
    {
        <MudNavGroup Title="Admin" Expanded="true">
            <MudNavLink Href="/agenti" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Person">Utenti</MudNavLink>
            <MudNavLink Href="/grouping" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Group">Gruppi</MudNavLink>
        </MudNavGroup>
    }
    <MudNavGroup Title="Circuiti" Expanded="true">
        <MudNavLink Href="/circuit/new" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Article">Nuovo circuito</MudNavLink>
        <MudNavLink Href="/circuit" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.List">Elenco</MudNavLink>
    </MudNavGroup>
    <MudNavGroup Title="Clienti" Expanded="true">
        <MudNavLink Href="/customer" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Business">Clienti</MudNavLink>
    </MudNavGroup>
    <MudNavGroup Title="Tabelle" Expanded="true">
        <MudNavLink Href="/tipoprodotto" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Equalizer">Tipologia prodotto</MudNavLink>
        @* The next one makes full submit, all page is rerendered*@
        <MudNavLink OnClick="(() => MethodForNavigationCheck.Invoke(grafite))" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Face">Grafite</MudNavLink>
    </MudNavGroup>
</MudNavMenu>


@code {
    [Parameter]
    public string Role { get; set; }
    [Parameter] public Action<string> MethodForNavigationCheck { get; set; }
    
    private bool _collapseNavMenu = true;
    private bool _shouldRender = false;

    //string tipoprodotto = "/tipoprodotto";
    string grafite = "/grafite";

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }
    
    public bool IsAdmin()
    {
        return Role == OfferteWeb.Models.Role.ADMIN;
    }

    protected override bool ShouldRender() => _shouldRender;
}
