<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">OfferteWeb</a>
    </div>
</div>

<MudNavMenu>
    <MudNavLink OnClick="(() => MethodForNavigationCheck.Invoke(home))" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home">Home</MudNavLink>
    <MudNavLink OnClick="(() => MethodForNavigationCheck.Invoke(offer))" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.LocalOffer">Offerte</MudNavLink>
    @if (IsAdmin())
    {
        <MudNavGroup Title="Admin" Expanded="true">
            <MudNavLink OnClick="(() => MethodForNavigationCheck.Invoke(user))" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Person">Utenti</MudNavLink>
            <MudNavLink OnClick="(() => MethodForNavigationCheck.Invoke(grouping))" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Group">Gruppi</MudNavLink>
        </MudNavGroup>
    }
    <MudNavGroup Title="Circuiti" Expanded="true">
        <MudNavLink OnClick="(() => MethodForNavigationCheck.Invoke(circuitNew))" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Article">Nuovo circuito</MudNavLink>
        <MudNavLink OnClick="(() => MethodForNavigationCheck.Invoke(circuit))" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.List">Elenco</MudNavLink>
    </MudNavGroup>
    <MudNavGroup Title="Clienti" Expanded="true">
        <MudNavLink OnClick="(() => MethodForNavigationCheck.Invoke(customer))" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Business">Clienti</MudNavLink>
    </MudNavGroup>
</MudNavMenu>


@code {
    [Parameter]
    public string Role { get; set; }
    [Parameter] public Action<string> MethodForNavigationCheck { get; set; }
    
    private bool collapseNavMenu = true;

    // private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    string home = "/home";
    string user = "/agenti";
    string grouping = "/grouping";
    string customer = "/customer";
    string circuitNew = "/circuit/new";
    string circuit = "/circuit";
    string offer = "/";

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    
    public bool IsAdmin()
    {
        return Role == OfferteWeb.Models.Role.ADMIN;
    }

}
